---
import { Image } from 'astro:assets';
import astronauta from '../../public/astronauta.png';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Experience from '../components/Experience.astro';
import Linkedin from '../components/icons/Linkedin.astro';
import Github from '../components/icons/Github.astro';
import Email from '../components/icons/Email.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import SocialBadge from '../components/SocialBadge.astro';
---

<Layout description="Contrata a yagobrage para crear tu aplicaci칩n web. Desarrollador Web y estudiante de ingenier칤a inform치tica." title="Porfolio de yagobrage - Desarrollador y Programador Web">
	<main>
		
		<SectionContainer>
			<Image class="w-28 h-28 mb-4" 
			src={astronauta} 
			alt="astronauta" />

			<h1 class="text-white text-5xl font-bold flex flex-row pb-10 gap-x-4">Hey, soy yagobrage 
				<div class="flex justify-center items-center"><a href="https://www.linkedin.com/in/yagobrage/">
				<Badge>Disponible para trabajar</Badge></a></div>
			</h1>

			<h2 class="text-xl opacity-90 text-wrap">+1 a침o de experiencia. <span class="text-blue-200">Desarrollador Web y Estudiante de Ingenier칤a Inform치tica.</span>
			<span class="text-green-200">De A Coru침a, Espa침a 游쀯릖.</span> Especializado en crear apps web 칰nicas.</h2>
			
			<nav class="flex gap-x-4">
				<SocialBadge href="https://www.linkedin.com/in/yagobrage/">
					<Linkedin></Linkedin> LinkedIn
				</SocialBadge>
				<SocialBadge href="https://github.com/yagobrage">
					<Github></Github> GitHub
				</SocialBadge>
				<SocialBadge href="https://github.com/yagobrage">
					<Email></Email> yagollanos04@gmail.com
				</SocialBadge>
			</nav>

		</SectionContainer>

		<SectionContainer>
			<Experience></Experience>
		</SectionContainer>
	</main>
</Layout>
