
<header class="flex justify-around items-center py-5 w-[1120px] mx-auto">
    <img class="rounded-full w-16 h-16 mb" 
    src="https://img.uefa.com/imgml/TP/players/2014/2025/cutoff/63706.webp" 
    alt="yagobrage perfil" />
      <nav class="flex flex-row gap-x-10 opacity-90">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
      </nav>
</header>
  