<a
  class="relative z-50 mt-6 inline-flex items-center justify-center rounded-full border border-gray-400 gap-x-2 py-1 px-2 lg:py-2 lg:px-4 text-xs lg:text-base bg-gray-100/10 hover:scale-110 hover:bg-gray-400 transition"
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>